body{
    margin: 0;
    padding: 0;
}

.keys{
    display:flex;
    justify-content: center;  
}

.key{
    border: 1px solid black;
    min-width: 3.5vw;
    min-height: 14vh;
}

.sheet{
    max-width: 20vw;
    width: 20vw;
    margin: 0 auto;
}