body{
    margin: 0;
    padding: 0;
}

h1 {color: purple; text-align: center; font-family: "Fascinate Inline"; text-decoration: underline;}
h1:hover{color: rgba(221, 79, 221, 0.884);}

.keys{
    display:flex;
    justify-content: center;  
}

.key{
    border: 2px solid black;
    min-width: 3.5vw;
    min-height: 14vh;
    text-align: center;
    font-weight: 700;
}

.key:hover{background-color: #ccc; color: purple; font-size: 1.5em;}
.sheet{display: flex; justify-content: center;}
.sheet img{
    max-width: 20vw;
    width: 20vw;
    
}
